<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Forms.Properties.Settings.Don_Sigaron_LopatinIVConnectionString" connectionString="Data Source=DBSRV\GOR2022;Initial Catalog=Don_Sigaron_LopatinIV;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="Forms.Properties.Settings.store_db8ConnectionString" connectionString="Data Source=DESKTOP-N79SNU4;Initial Catalog=store_db8;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.58.0.0" newVersion="1.58.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>